<ul class="list-disc pl-5">
    <li>Investigate voter behavior and preference for Thailand’s 2023 Election using linear mixed model and conjoint
        analysis from 1249 respondents, focused on political awareness, attitude toward government and politicians, and
        policy preference</li>
    <li>Engage in close collaboration with political scientists to formulate research questions, design and implement
        survey, and interpret outcome, resulting in the publication of 2 articles and 1 research paper</li>
</ul>